<div class="jumbotron home-page">
  <img src="https://firebasestorage.googleapis.com/v0/b/braze-hq-trivia.appspot.com/o/braze-logo-3.png?alt=media&token=6b4425e0-6f3f-4bbe-9d20-25e4b054ad4c" width="300px">
  <h1>Let's play trivia.</h1>
  <p class="lead">
    In real time!
  </p>
  <script src="//www.powr.io/powr.js?external-type=html"></script> 
 <div class="powr-countdown-timer" id="954bc943_1518992566"></div>
  <p><a ng-if="!creatingGame" class="btn btn-lg btn-success" ng-click="newGame()">Start new Game</a></p>
  <p><a ng-if="creatingGame" ng-disabled="true" class="btn btn-lg btn-success" ng-click="newGame()">Creating game..</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/player">Join Existing Game</a></p>
</div>
